@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  background: #fff;
  font-family: 'Indie Flower';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-shadow: 1px 1px #554971;
  color: #0B3948;
  overflow: hidden;
}

::selection {
  background: #127456; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #127456; /* Gecko Browsers */
}

.greeting {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 75px;
  text-shadow: 2px 2px #554971;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.hi {
  -webkit-animation: fadeGreeting 2s ease;
  animation: fadeGreeting 2s ease;
}

.mynameis {
  -webkit-animation: fadeGreeting 2s ease 2s;
  animation: fadeGreeting 2s ease 2s;
}

.andrew {
  text-shadow: 2px 2px #F15946;
  color: #53B3CB;
}

.name-small {
  text-shadow: 1px 1px #F15946;
}

.me {
  -webkit-animation: fadeGreeting 2s ease 4s;
  animation: fadeGreeting 2s ease 4s;
}

@-webkit-keyframes fadeGreeting {
  50% {opacity: 1}
}

@keyframes fadeGreeting {
  50% {opacity: 1}
}

.signature {
  stroke-width: 4px;
}

.sign-first {
  stroke-dasharray: 1030.926;
  stroke-dashoffset: 1030.926;
  animation: draw 1.5s forwards;
}

.sign-last {
  stroke-dasharray: 1380.569;
  stroke-dashoffset: 1380.569;
  animation: draw 2s forwards;
  animation-delay: 1.4s;
}

.sign-underline {
  stroke-dasharray: 932.962;
  stroke-dashoffset: 932.962;
  animation: draw .5s ease-in forwards;
  animation-delay: 3.2s;
}

.sign-dot {
  stroke-dasharray: 17.183;
  stroke-dashoffset: 17.183;
  animation: draw .25s ease forwards;
  animation-delay: 4s;
}

.face > g {
  -ms-transform: translate(0, -10px);
  transform: translate(0, -10px);
}

.face {
  position: absolute;
  width: 100%;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.full {
  top: 0%;
}

.half {
  top: 59%;
}

.brain-left, .brain-right, .head {
  cursor: pointer;
}

#brow-right {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.closed:hover ~ #brow-right {
  -ms-transform: translateY(-25px);
  transform: translateY(-25px)
}

.dark, .light, .brain {
  -webkit-transition: fill .2s ease-in;
  -o-transition: fill .2s ease-in;
  transition: fill .2s ease-in
}

.brain-right:hover > .brain {
  fill: #FF761D
}

.brain-right:hover > .dark {
  fill: #9E1DC7;
}

.brain-right:hover > .light {
  fill: #9BF21C;
}

.brain-left:hover > .brain {
  fill: #030303
}

.brain-left:hover > .dark {
  fill: #565656;
}

.brain-left:hover > .light {
  fill: #FFF;
}

/*Animation defaults*/
.eyes {
  -webkit-transition: -webkit-transform .25s ease, transform .25s ease;
  -o-transition: transform .5s ease;
  transition : -webkit-transform .25s ease, transform .25s ease;
}

#forehead, #hair {
  -webkit-transition: -webkit-transform .25s ease-in-out, transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out, transform .25s ease-in-out;
  -webkit-transform-origin: 0px 144px;
  -ms-transform-origin: 0px 144px;
  transform-origin: 0px 144px;
}

.closed {
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.open {
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.intro-controller {
  position: fixed;
  overflow: hidden;
  right: 0;
  bottom: 2px;
  width: 130px;
  font-size: 25px;
  z-index: 1;
}

.control {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.intro {
  text-align: center;
  position: relative;
  width: 50%;
  left: 50%;
}

.btn-title, .icon {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.skip {
  color: #FF0054;
  margin-left: 20px;
}

.replay {
  color: #0496ff
}

.icon {
  position: absolute;
  top: 3px;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.skip-tri {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #FF0054;
  left: 35px;
}

.skip-line {
  background: #FF0054;
  height: 30px;
  width: 5px;
  left: 55px;
}

.replay-tri {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #0496FF;
  left: 45px;
}

.replay-line {
  background: #0496FF;
  height: 30px;
  width: 5px;
  left: 55px;
  opacity: 0;
}

.control:hover > .btn-title {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px)
}

.control:hover > .icon {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.control:hover > .replay-line {
  opacity: 1;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px)
}

@-webkit-keyframes draw {
  to {stroke-dashoffset: 0}
}

@keyframes draw {
  to {stroke-dashoffset: 0}
}

@-webkit-keyframes color {
  to {fill-opacity: 1;
      stroke-opacity: 0}
}

@keyframes color {
  to {fill-opacity: 1;
      stroke-opacity: 0}
}

/*/////
///////
PAGE STYLING
///////
/////*/
.home {
  overflow: hidden;
}

.about, .projects {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.projects-title, .about-title {
  font-size: 50px;
}

.projects-title {
  color: brown;
  text-align: center;
}

.carot {
  margin-top: -55px;
  font-family: Courier New;
  color: #000;
  opacity: 0;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  -webkit-animation: disappear .15s forwards;
  animation: disappear .15s forwards;
}

.p-c, .p-o, .p-d, .p-e, .slash, .rtag {
  opacity: 0;
  -webkit-animation: appear .25s forwards;
  animation: appear .25s forwards;
}

.p-c, .c2 {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.p-o, .c3 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.p-d, .c4 {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}
.p-e, .c5 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.slash, .c6 {
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}
.rtag, .c7 {
  -webkit-animation-delay: .9s;
  animation-delay: .9s;
}
.c8 {
  -webkit-animation: blink .75s linear infinite .9s;
  animation: blink .75s linear infinite .9s;
}

@-webkit-keyframes appear {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes appear {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes disappear {
  0%   {opacity: 1}
  100% {opacity: 0}
}

@keyframes disappear {
  0%   {opacity: 1}
  100% {opacity: 0}
}

@-webkit-keyframes blink {
  0%   {opacity: 1}
  100% {opacity: 0}
}

@keyframes blink {
  0%   {opacity: 1}
  100% {opacity: 0}
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 30%;
  }

.pc-inner1, .pc-inner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.project, .front, .back {
  height: 120px;
  width: 120px;
  border-radius: 8%;
  z-index: 1;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .4s ease-out 0s;
  -o-transition: transform .4s ease-out 0s;
  -webkit-transition: -webkit-transform .4s ease-out 0s;
  transition: -webkit-transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s;
  transition: transform .4s ease-out 0s, -webkit-transform .4s ease-out 0s;
}

.front {
  background: #080E0E;
  color: #fff;
  font-size: 100px;
  line-height: 120px;
  -webkit-transform: perspective(1000px) rotateY(0deg);
  -ms-transform: perspective(1000px) rotateY(0deg);
  transform: perspective(1000px) rotateY(0deg);
}

.back {
  height: 100%;
  width: 100%;
  -webkit-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  transform: perspective(1000px) rotateY(180deg);
}

.prj-img {
  border-radius: 8%;
  height: 100%;
  width: 100%;
}

.about-title {
  color: #4B2EAA;
}

.a-A, .a-b, .a-o, .a-u, .a-t {
  opacity: 0;
  margin-left: 20px;
  display: inline-block;
  -webkit-animation: zoomEnter .5s ease-in forwards;
  animation: zoomEnter .5s ease-in forwards;
}

.a-b {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.a-o {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.a-u {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.a-t {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

@-webkit-keyframes zoomEnter {
  0%   {-webkit-transform: rotate(0deg) scale(.5);transform: rotate(0deg) scale(.5);
        opacity: 0}
  100% {-webkit-transform: rotate(720deg) scale(1);transform: rotate(720deg) scale(1);
        opacity: 1}
}

@keyframes zoomEnter {
  0%   {-webkit-transform: rotate(0deg) scale(.5);transform: rotate(0deg) scale(.5);
        opacity: 0}
  100% {-webkit-transform: rotate(720deg) scale(1);transform: rotate(720deg) scale(1);
        opacity: 1}
}

.bulbs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0;
  z-index: 3;
}

.bulbs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 3;
}

.bulb-canvas > g {
  cursor: pointer;
}

.rayOn {
  stroke: #ffc58f;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .2s ease, stroke-dasharray .2s ease;
}

.glassOn {
  fill: #ffff29;
  stroke: none;
  transition: fill .2s ease;
}

.glassOff {
  fill: #D0D0D0;
  stroke: none;
  transition: fill .2s ease;
}

.base {
  fill: #000;
  stroke: none;
}

.wireOn {
  stroke-dashoffset: 0;
  stroke: #ffffed;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech {
    margin: 15px;
    -webkit-transition: -webkit-transform .25s ease-in-out, transform .25s ease-in-out;
    -moz-transition: transform .25s ease-in-out;
    -o-transition: transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out, transform .25s ease-in-out;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.tech:hover {
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
    -ms-transform: scale(1.75);
    transform: scale(1.75);
}

.social-container {
  position: fixed;
  left: 0px;
  bottom: 5px;
  top: 25%;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.soc{
  transition: transform .2s ease-in-out;
}

.soc:hover {
  cursor: pointer;
  transform: scale(1.25)
}

.fa-linkedin {
  color: #0077b5;
}

.fa-github-square {
  color: #6cc644;
}

.fa-codepen {
  color: #C9087D;
}

.fa-file-alt {
  color: #d76100;
}

/* 1920 x 1080 */
@media screen and (min-width: 1920px) and (max-height: 1080px){

  .projects-title, .about-title {
    font-size: 50px;
  }

}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {

    .projects-container {
      top: 140px;
      height: 350px;
      flex-direction: row;
      justify-content: space-around;
    }

}

/* Galaxy S6, S7, S7+, S8, S8+* 1440 x 2560 */
@media only screen and (max-width: 1440px) and (max-height: 2560px) {

  .social-container {
    height: 300px;
  }

  .projects-container {
    top: 140px;
    height: 350px;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects-title, .about-title {
    font-size: 2em;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: column;
  }

  .project, .front, .back {
    height: 80px;
    width: 80px;
  }

  .front {
    font-size: 80px;
    line-height: 80px;
  }

  .about-container {
    width: 100%;
    height: 430px;
  }

  .signature {
    stroke-width: 5px;
  }

  .idea {
    font-size: 30px;
  }

  .i1 {
    margin-top: 115px;
  }

  .i2 {
    margin-top: 100px
  }

  .i3 {
    margin-top: 120px;
  }

  .i4 {
    margin-top: 145px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}

/* 1440 x 1080 */
@media screen and (max-width: 1440px) {

  .social-container {
    height: 300px;
    top: 10%;
    left: 5px;
  }

  .projects-container {
    top: 140px;
    height: 60%;
    flex-direction: row;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: row;
  }

  .project, .front, .back {
    height: 110px;
    width: 110px;
  }

  .front {
    font-size: 110px;
    line-height: 110px;
  }

  .about-container {
    width: 100%;
    height: 365px;
  }

  .idea {
    font-size: 30px;
    width: 80%;
  }

  .i1 {
    margin-top: 85px;
  }

  .i2 {
    margin-top: 65px
  }

  .i3 {
    margin-top: 90px;
  }

  .i4 {
    margin-top: 115px;
  }

  .logo-container {
    flex-wrap: wrap;
  }

  .tech {
    margin: 30px;
  }

}

/* 1366 x 768 */
@media screen and (min-device-width: 1366px) and (max-device-height: 768px) and (-webkit-device-pixel-ratio: 2) {

  .intro-controller {
    transform: scale(2);
    right: 50px;
    bottom: 20px;
  }

  .social-container{
    left: 20px;
    height: 700px;
  }

  .soc {
    transform: scale(2.5)
  }

  .projects-title, .about-title {
    font-size: 80px;
  }

  .projects-container {
    top: 300px;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: row;
  }

  .project, .front, .back {
    height: 150px;
    width: 150px;
  }

  .front {
    font-size: 150px;
    line-height: 150px;
  }

  .about-container {
    width: 100%;
    height: 700px;
  }

  .bulb-canvas {
    transform: scale(2.5);
  }

  .signature {
    transform: scale(2);
    margin-top: 40px;
  }

  .name-small {
    text-shadow: 2px 2px #F15946;
  }

  .idea {
    font-size: 60px;
  }

  .i1 {
    margin-top: 270px;
  }

  .i2 {
    margin-top: 250px
  }

  .i3 {
    margin-top: 225px;
  }

  .i4 {
    margin-top: 300px;
  }

  .logo-container {
    flex-wrap: wrap;
  }

  .tech {
    transform: scale(3);
    margin: 50px;
  }

}

/* iPad Pro*/
@media only screen and (min-device-width: 1024px) /*and (max-device-height: 1366px)*/ and (-webkit-device-pixel-ratio: 2) {

  .intro-controller {
    transform: scale(2);
    right: 50px;
    bottom: 20px;
  }

  .social-container{
    left: 20px;
    height: 700px;
  }

  .soc {
    transform: scale(2.5)
  }

  .projects-title, .about-title {
    font-size: 80px;
  }

  .projects-container {
    top: 300px;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: row;
  }

  .project, .front, .back {
    height: 150px;
    width: 150px;
  }

  .front {
    font-size: 150px;
    line-height: 150px;
  }

  .about-container {
    width: 100%;
    height: 800px;
  }

  .bulb-canvas {
    transform: scale(2.5);
  }

  .signature {
    transform: scale(2);
    margin-top: 40px;
  }

  .name-small {
    text-shadow: 2px 2px #F15946;
  }

  .idea {
    font-size: 60px;
  }

  .i1 {
    margin-top: 270px;
  }

  .i2 {
    margin-top: 250px
  }

  .i3 {
    margin-top: 225px;
  }

  .i4 {
    margin-top: 300px;
  }

  .logo-container {
    flex-wrap: wrap;
  }

  .tech {
    transform: scale(3);
    margin: 50px;
  }

}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {

  .intro-controller {
    transform: scale(2);
    right: 50px;
    bottom: 20px;
  }

  .social-container{
    left: 20px;
    height: 700px;
  }

  .soc {
    transform: scale(2)
  }

  .projects-title, .about-title {
    font-size: 70px;
  }

  .projects-container {
    top: 200px;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: row;
  }

  .project, .front, .back {
    height: 125px;
    width: 125px;
  }

  .front {
    font-size: 125px;
    line-height: 125px;
  }

  .about-container {
    width: 100%;
    height: 600px;
  }

  .bulb-canvas {
    transform: scale(2);
  }

  .signature {
    transform: scale(1.5)
  }

  .idea {
    font-size: 50px;
  }

  .i1 {
    margin-top: 170px;
  }

  .i2 {
    margin-top: 150px
  }

  .i3 {
    margin-top: 175px;
  }

  .i4 {
    margin-top: 200px;
  }

  .logo-container {
    flex-wrap: wrap;
  }

  .tech {
    transform: scale(2);
    margin: 25px;
  }

}

/* Nexus 6P*/
@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (-webkit-device-pixel-ratio: 3.5){

  .social-container {
    height: 300px;
  }

  .projects-title, .about-title {
    font-size: 45px;
  }

  .projects-container {
    top: 170px;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: column;
  }

  .project, .front, .back {
    height: 80px;
    width: 80px;
  }

  .front {
    font-size: 80px;
    line-height: 80px;
  }

  .about-container {
    width: 100%;
    height: 400px;
  }

  .idea {
    font-size: 30px;
  }

  .i1 {
    margin-top: 120px;
  }

  .i2 {
    margin-top: 100px
  }

  .i3 {
    margin-top: 125px;
  }

  .i4 {
    margin-top: 150px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}

/* Nexus 5X */
@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (-webkit-device-pixel-ratio: 2.6) {

  .social-container {
    height: 300px;
  }

  .projects-title, .about-title {
    font-size: 60px;
  }

  .projects-container {
    top: 150px;
    height: 350px;
    flex-direction: row;
    justify-content: space-around;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: column;
  }

  .project, .front, .back {
    height: 80px;
    width: 80px;
  }

  .front {
    font-size: 80px;
    line-height: 80px;
  }

  .about-container {
    width: 100%;
    height: 400px;
  }

  .idea {
    font-size: 30px;
  }

  .i1 {
    margin-top: 120px;
  }

  .i2 {
    margin-top: 100px
  }

  .i3 {
    margin-top: 125px;
  }

  .i4 {
    margin-top: 150px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}

/* iphone X, iphone 8+, iphone 7+ */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {

  .social-container {
    height: 300px;
  }

  .projects-container {
    top: 175px;
    height: 430px;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects-title, .about-title {
    font-size: 45px;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: column;
  }

  .project, .front, .back {
    height: 80px;
    width: 80px;
  }

  .front {
    font-size: 80px;
    line-height: 80px;
  }

  .about-container {
    width: 100%;
    height: 450px;
  }

  .idea {
    font-size: 30px;
  }

  .i1 {
    margin-top: 130px;
  }

  .i2 {
    margin-top: 110px
  }

  .i3 {
    margin-top: 135px;
  }

  .i4 {
    margin-top: 180px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}

/* Galaxy S5, iphone 6, 7, 8 */
@media only screen and (min-device-width: 320px) and (max-device-height: 667px){

  .social-container {
    height: 300px;
  }

  .projects-container {
    top: 140px;
    height: 350px;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects-title, .about-title {
    font-size: 35px;
  }

  .pc-inner1, .pc-inner2 {
    flex-direction: column;
  }

  .project, .front, .back {
    height: 60px;
    width: 60px;
  }

  .front {
    font-size: 60px;
    line-height: 60px;
  }

  .about-container {
    width: 100%;
    height: 365px;
  }

  .idea {
    font-size: 30px;
  }

  .i1 {
    margin-top: 85px;
  }

  .i2 {
    margin-top: 65px
  }

  .i3 {
    margin-top: 90px;
  }

  .i4 {
    margin-top: 115px;
  }

  .logo-container {
    flex-wrap: wrap;
  }
}
